* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}



body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333;
    background-color: #EFEFEF;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.center_center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.center_center_row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 9%;
    margin-right: 9%;
}



.top-banner {
    text-align: center;
    background-color: #0F60A1;
}

.mouse-hover {
    cursor: pointer;
}


.top-bar {
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    padding-top: 10px;
    background-color: #fff;
    padding-left: 2%;
    padding-right: 2%;
}

.top-bar-logo {
    background: url("https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/logo/fahasa_logo.png") no-repeat center center;
    background-size: contain;
    width: 220px;
    height: 36px;
}

.top-bar-category {
    display: flex;
    padding-left: 30px;
    padding-right: 10px;
    position: relative;
    height: 100%;
    background-color: white;
    align-items: center;
    justify-content: center;
}

.top-bar-category-menu {
    display: inline-block;
    background: url("https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_menu.svg") no-repeat center center;
    background-size: contain;
    width: 40px;
    height: 40px;
}

.top-bar-category-seemore {
    display: inline-block;
    background: url("https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/icon_seemore_gray.svg") no-repeat center center;
    background-size: contain;
    width: 16px;
    height: 16px;
}

.top-bar-category-container {
    position: absolute;
    top: 10%;
    left: -100px;
    z-index: 10;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    width: 900px;
    border: 1px solid #ccc;
    opacity: 0;
    display: none;
    transition: all 0.6s ease-in-out;
}

.top-bar-category-container:hover {
    transform: translateY(6%);
    opacity: 1;
    display: flex;
}

.ico_lamdepsuckhoe {
    background: url("https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/category/ico_lamdepsuckhoe.svg") no-repeat center center;
    background-size: contain;
    height: 24px;
    width: 24px;
    position: relative;
}

.top-bar-category:hover .top-bar-category-container {
    display: flex;
}










.top-bar-category-container-left {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-right: 1px solid #ccc;
}

.top-bar-category-container-left * {
    padding: 15px;
}

.top-bar-category-container-left h1 {
    font-size: 1.4em;
    font-weight: 600;
    color: gray;
    margin-top: 15px;
}

.top-bar-category-container-left h2 {
    font-size: 1.1em;
    font-weight: 600;
    color: #333333;
    margin-top: 8px;
    border-radius: 10px;
    width: 100%;
}

.top-bar-category-container-left h2:hover {
    background-color: #ccc;
    cursor: pointer;
}

.top-bar-category-container-left a {
    font-size: 1.1em;
    font-weight: 600;
    color: #333333;
    margin-top: 8px;
    border-radius: 10px;
    width: 100%;
    text-decoration: none;
}

.top-bar-category-container-left a:hover {
    background-color: #ccc;
    cursor: pointer;
}

.top-bar-category-container-right {
    width: 60%;
}


.top-bar-search {
    position: relative;
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    margin: 8px 40px 12px 0px;
}

.top-bar-search input {
    width: 100%;
    display: inline-block;
    height: 40px;
    padding: 0 80px 0 20px;
    border: 1px solid #fff;
    border-radius: 10px;
    color: #545759;
    background-color: white;
}

.top-bar-button {
    display: flex;
    background-color: #C92127;
    border-radius: 10px;
    width: 72px;
    height: 30px;
    position: absolute;
    top: calc(50%);
    transform: translateY(-50%);
    right: 4px;
    justify-content: center;
    align-items: center;

}

.top-bar-search-icon {
    display: inline-block;
    background: url("https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_search_white.svg") no-repeat center center;
    background-size: contain;
    width: 20px;
    height: 20px;
}

.top-bar-search-container {
    width: calc(85% - 619px);
    position: relative;
}

.top-bar-search-container:hover .top-bar-search-info {
    display: flex;

}




.top-bar-search-info {
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    flex-direction: column;
    position: absolute;
    top: 100%;
    z-index: 10;
    width: 100%;
    justify-content: center;
    transition: all 0.6s ease-in-out;
    display: none;


}

.search-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    justify-content: center;

}


.search-grid-item{
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 200px;
    height: 200px;
    text-align: center;

}

.search-grid-image {
    width: 150px;
    height: 150px;
    text-align: center;
}

.search-grid-image img {
    width: 100%;
    height: 100%;
    text-align: center;
}

.search-grid-info {
    width: 150px;
    height: 20px;
}

.search-grid-info-title {
    width: 100%;
    height: 100%;
    font-size: 1.1em;
    font-weight: 600;
    color: #333333;
    margin-top: 5px;
    text-align: center;
}

.tu-khoa-hot {
    margin-left: 15px;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.tu-khoa-hot span {
    font-size: 1.1em;
    font-weight: 600;
    color: #333333;
    margin-right: 10px;
}

.tu-khoa-hot-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 15px;
    flex-wrap: wrap;
    margin-right: 15px;
}

.tu-khoa-hot-item {
    padding: 5px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    border-radius: 10px;
}

.col-md-3 {
    width: calc(25%);

}

.tu-khoa-hot-item span {
    font-size: 0.9em;
    color: #333333;
    margin-right: 10px;
    text-align: center;
}

.tu-khoa-hot-item img {
    height: 50%;
    width: 50%;
}

.tu-khoa-hot-item:hover {
    box-shadow: 0 0 5px #ccc;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.top-bar-search-info-headline {
    border-radius: 10px;
    background-color: rgb(255, 242, 204);
    color: rgb(240, 45, 27);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: 10px;
}

.top-bar-search-info-headline span {
    padding: 10px;
    margin-left: 10px;
    font-size: 1.2em;
}

.top-bar-search-info-headline img {
    padding: 10px;
    margin-right: 10px;
}



.top-button-icon {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 10px 5px;
    text-decoration: none;
}

.icon_nofi_black {
    display: inline-block;
    background: url("https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_noti_black.svg") no-repeat center center;
    background-size: contain;
    height: 16px;
    width: 16px;
    position: relative;
}

.dropdown-pad {
    padding: 5px;
    border-bottom: 1px solid #F2F4F5;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.icon_nofi_gray {
    /* background: url("https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_noti_gray.svg") no-repeat center center; */
    background-size: contain;
    height: 24px;
    width: 24px;
    position: relative;
    color: gray;
    font-size: 22px;
}

.button-default {
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    color: #C92127;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-clip: border-box;
    border: 1px solid #C92127;
    width: 100%;
}

.button-facebook {
    padding: 10px;
    border-radius: 10px;
    background-color: #3B5998;
    color: #fff;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-clip: border-box;
    border: 1px solid #3B5998;
    width: 100%;
}

.icon_facebook {
    display: inline-block;
    background: url("https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/logo/facebook_logo.svg") no-repeat center center;
    background-size: contain;
    height: 16px;
    width: 16px;
    margin-right: 5px;
}

.active {
    background-color: #C92127;
    color: white;
    border: 1px solid #fff;
}

.ico_notlogin {
    background: url("https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/customer/ico_login.svg") no-repeat center center;
    background-size: contain;
    height: 80px;
    width: 80px;
    padding: 24px;
}

.top_menu_label {
    line-height: 18px;
    color: #7A7E7F;
    font-size: 12px;
}

.icon_cart_gray {
    background: url("https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_cart_gray.svg") no-repeat center center;
    background-size: contain;
    height: 24px;
    width: 24px;
    position: relative;
}

.icon_account_gray {
    background: url("https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_account_gray.svg") no-repeat center center;
    background-size: contain;
    height: 24px;
    width: 24px;
    position: relative;
}

.top-language {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-left: 10px;
}

.top-language-flag {
    padding: 7px;
}

.top-language-flag-icon {
    background: url("https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/default.svg") no-repeat center center;
    background-size: contain;
    height: 24px;
    width: 37px;
    display: inline-block;
}

.top-language-flag-seemore {
    background: url("https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/icon_seemore_gray.svg") no-repeat center center;

    background-size: contain;
    width: 16px;
    height: 16px;
    margin-left: 5px;
}

.top-language-dropdown-item {
    padding: 5px;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: #fff;
    margin-top: 5px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-clip: border-box;
}

.top-language-dropdown-item:hover {
    border: 1px solid #ccc;
    background-color: #ccc;
    background-clip: border-box;
}

.top-language-flag-icon-eng {
    background: url("https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/store/english.svg") no-repeat center center;
    background-size: contain;
    height: 24px;
    width: 37px;
    display: inline-block;
}

.top-notif>.top-dropdown {
    display: none;
}

.top-notif:hover>.top-dropdown {
    display: block;
    z-index: 100;
}

.top-account>.top-dropdown {
    display: none;
}

.top-account:hover>.top-dropdown {
    display: block;
}

.top-dropdown {
    display: none;
    position: absolute;
    transform: translateY(65%) translateX(-38%);
    background-color: #fff;
    border-radius: 12px;
    padding: 10px 45px 25px 45px;
    z-index: 10;

}



.top-language-dropdown {
    position: absolute;
    transform: translateY(90%);
    background-color: #fff;
    border-radius: 10px;
    padding: 5px;

}

.top-language-dropdown-item-label {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: gray;
    font-size: 12px;

}

@media screen and (max-width: 992px) {
    .top-bar-desktop {
        display: none !important;
    }

    .top-slider-right {
        display: none !important;
    }

    .top-bar-mobile {
        display: flex !important;
    }
}

.top-bar-category-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
}

.top-bar-mobile {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.top-bar-child-mobile {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: #C92127;
}

.top-bar-search-mobile {
    position: relative;
    width: calc(100% - 104px);
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    margin: 8px 10px 12px 0px;
}

.top-bar-search-mobile input {
    width: 100%;
    display: inline-block;
    height: 40px;
    padding: 0 80px 0 20px;
    border: 1px solid #fff;
    border-radius: 10px;
    color: #545759;
    background-color: white;
}

.top-banner-mobile {
    text-align: center;
    background-color: #C92127;
    width: 100%;
}

.top-banner-mobile>a>img {
    max-width: 130px;
    max-height: 30px;
    margin-top: 5px;
}

.ico_menu_white {
    background: url("https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_menu_white.svg") no-repeat center center;
    background-size: contain;
    height: 34px;
    width: 34px;
}

.icon_cart_white {
    background: url("https://cdn0.fahasa.com/skin/frontend/base/default/images/ico_shopping_cart_white.svg") no-repeat center center;
    background-size: contain;
    height: 24px;
    width: 24px;
    position: relative;
    margin-right: 10px;
}

.login-cutomer-icon {
    background: url("https://cdn0.fahasa.com/skin/frontend/base/default/images/ico_thongtintk.svg") no-repeat center center;
    background-size: contain;
    height: 24px;
    width: 24px;
    position: relative;
    margin-right: 10px;
}

.fill-white {
    fill: white !important;
}

@media screen and (max-width: 992px) {
    .footer-container-left {
        width: 100% !important;
        border-right: 0px solid #cecece;
    }

    .footer-container-right {
        width: 100% !important;
    }

    .center_center_row {
        margin-left: 1%;
        margin-right: 1%;
    }

    .sidebar {
        display: none !important;
    }


}